


#bishalpubg:parent{
 
  position:relative;
}
/* main menu part */
#mainmenu-left{
  top:0% !important;
}

#slider-btn{
  color:white;
}
/* body scroll code */
#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

/* end of body scroll code */
#home-slick .slider-img{
    height:500px !important;
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}



/* Banner area css
============================================================================================ */
.banner_area {
  background: url(../img/hotdeal.png) no-repeat scroll center center;
  background-size: cover;
  min-height: 450px;
}

.banner_area .banner_content {
  text-align: center;
  padding: 220px 0px 0px 0px;
}

.banner_area .banner_content h4 {
  color: #fff;
  font-family: "Cantata One", serif;
  font-size: 36px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.banner_area .banner_content a {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-right: 15px;
  position: relative;
}

.banner_area .banner_content a:last-child {
  margin-right: 0px;
}

.banner_area .banner_content a:last-child:before {
  display: none;
}

.banner_area .banner_content a:before {
  content: "/";
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  position: absolute;
  right: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner_area .banner_content a.active {
  color: #b10400;
}

/* End Banner area css
============================================================================================ */
/* About us area css
============================================================================================ */
.about_us_content {
  padding: 40px 0px 100px 0;
}

.about_us_content .about_inner_item {
  margin-top: 60px;
}

.about_us_content .about_inner_item .about_left_content h4 {
  font-family: "Cantata One", serif;
  font-size: 24px;
  color: #333333;
  margin-bottom: -12px;
}

.about_us_content .about_inner_item .about_left_content p {
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #666666;
  padding-top: 25px;
}

.about_us_content .about_inner_item .about_left_content ul {
  padding-top: 22px;
}

.about_us_content .about_inner_item .about_left_content ul li {
  margin-bottom: 6px;
}

.about_us_content .about_inner_item .about_left_content ul li a {
  font-size: 14px;
  line-height: 26px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  transition: all 400ms linear 0s;
}

.about_us_content .about_inner_item .about_left_content ul li a i {
  color: #b10400;
  padding-right: 5px;
}

.about_us_content .about_inner_item .about_left_content ul li:last-child {
  margin-bottom: 0px;
}

.about_us_content .about_inner_item .about_left_content ul li:hover a {
  color: #b10400;
}

.about_us_content .about_inner_item .about_right_image img {
  max-width: 100%;
}

.about_us_content .about_inner_item .about_right_ms {
  margin-top: -15px;
  margin-right: -15px;
}

.about_us_content .about_inner_item .about_right_ms .about_ms_item {
  max-width: 100%;
  margin-right: 15px;
  margin-top: 15px;
}

.about_us_content .about_inner_item .about_single_content p {
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #666666;
  padding-top: 15px;
}

/* End About us area css */


/* css code of contact */
.contact-info{
  width:100%;
  margin:4% 0%;
  text-align:center;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.contact-info label{
  width:100%;
  padding:3% 0%;
}
.contact-info i{
  font-size: 4rem;
  
}
.contact-info b{
  padding:0% 4%;
  font-size:2rem;
}

.contact-map iframe{
  width:100%;
  height:450px;
}

/* end of css code of contact */

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */ 
    overflow: hidden;  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
    height: auto;      /* let the content decide it  */
} /* bootstrap hack end */

/* tab-------------------*/

@media only screen  and (max-width: 600px){
  #main-tab ul li h2{
    font-size: 15px;
}
}


/* end of tab css */

/* css code in product page */

#brands-list .list-links{
  height:150px;
  overflow-y:auto;
}
.popular-product{
  height:380px;
  overflow-y:auto;
}
/* end of css code in product page */

/* product detail-page */
  .product-detail-title{
    background-color: #e0e0e0;
  }

/* end of product detail page */


/* for the code  of pagination */
.pagination {
  display: block;
  width: 75%;
  margin: 1em auto;
  text-align: right;
  clear:both;
}
.pagination:after {
  content: '';
  clear: both;
}

.pagination-button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  background-color:white;
  color: #333;
  margin:0% 0.2%;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
}
.pagination-button:hover {
  background-color: whitesmoke;
  color: #3366cc;
}
.pagination-button.active {
  background-color:#f3f3f3;
  border-color: lightgray;
  color: #3366cc;
}
.pagination-button:first-of-type {
  border-radius: 18px 0 0 18px;
}
.pagination-button:last-of-type {
  border-radius: 0 18px 18px 0;
}

/* arbitrary styles */
.heading {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}

.article-loop {
  display: block;
  width: 75%;
  padding: 1em 2em;
  margin: 1em auto;
  border: 1px solid #ddd;
  background-color: #ededed;
}

/* css code of the product  buttons */
.key-spec{
  padding: 0px;
}
.key-spec h5{
  border-bottom:4px solid #F8694A;
}
.key-spec label{
  font-size:12px;
}

@media screen and (max-width: 640px)
{
  .key-spec h5{
    font-size:12px;
  }
  .key-spec label{
    font-size:10px;
  }
}
.key-spec .col-spec{
  width:25%;
  padding:0% 1%;
  float:left;
}
.product-btns li{
  clear:both;
  border-bottom:1px solid lightgray;
  padding:2% 0%;
  background: whitesmoke;
}
.subcategory-title{
  text-align: center;
  padding:0.3% 0%;
}
/* css for responsive */
@media only screen and (max-width:990px)
{
  .category-nav .category-list{
    width:100%;
  }
  .header-search>form .search-input {
    width:260px;
  }
}


.buy-link{
  float:left;
}


